{{#each dog in model}}
<li>{{dog.name}} {{dog.bio}} {{dog.breed}} {{dog.age}} {{dog.sex}} {{dog.location}} {{dog.size}} {{dog.adopted}} {{dog.trained}} {{dog.spayedOrNeutered}} {{dog.childFriendly}} {{dog.animalFriendly}}</li>
<li><img src="{{dog.photos}}" alt="penny"></li>
{{/each}}